<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>The Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="font-size: 1.4rem;">
        Weathers Around The World 🌍
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="ion-margin-top" style="display: flex; flex-direction: column; gap: 12px;">
        <ion-button shape="round" expand="block" color="secondary" [routerLink]="['/galway']">
          Galway
        </ion-button>
        <ion-button shape="round" expand="block" color="secondary" [routerLink]="['/london']">
          London
        </ion-button>
        <ion-button shape="round" expand="block" color="secondary" [routerLink]="['/tokyo']">
          Tokyo
        </ion-button>
        <ion-button shape="round" expand="block" color="secondary" [routerLink]="['/newyork']">
          New York
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
